/node_modules
/public/hot
/public/images/item
/public/vendor
/public/js/app.js
/public/videos
/public/mix-manifest.json
/storage/logs
/vendor
/.idea
/.vscode
/.vagrant
/public/*~js
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.zip
