@mixin buttonstyle {
    width: 100%;
    position: relative;
    line-height: 40px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 2px;
    padding: 0 10px;
    background: #f1636e;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    &:hover {
        background-color: #ed3443;
        outline: none;
        color: #FFFFFF;
    }
    &:focus {
        background-color: #ed3443;
        outline: none;
        color: #FFFFFF;
        box-shadow: none;
    }
    &:disabled {
        outline: 0;
        box-shadow: none;
        background: grey!important;
        border-color: grey!important;
        cursor: not-allowed;
    }
}
@mixin trasparent_buttonstyle {
    width: 100%;
    position: relative;
    line-height: 40px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 2px;
    padding: 0 10px;
    background: transparent;
    color: #0f0000;
    border: 1px solid #000;
    text-transform: uppercase;
    &:hover {
        background: #f0f0f0;
        outline: none;
        color: #0f0000;
    }
    &:focus {
        background: #f0f0f0;
        outline: none;
        color: #0f0000;
        box-shadow: none;
    }
    &:disabled {
        outline: 0;
        box-shadow: none;
        background: grey!important;
        border-color: grey!important;
        cursor: not-allowed;
    }
}

@mixin grey_buttonstyle {
    position: relative;
    line-height: 38px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 2px;
    padding: 0 10px;
    background: #DDDDDD;
    color: #9b9a9a;
    border: 1px solid #DDDDDD;
    text-transform: uppercase;
    &:hover {
        background: #d0d0d0;
        color: #FFFFFF;
    }
    &:focus {
        background: #d0d0d0;
        outline: none;
        color: #FFFFFF;
        box-shadow: none;
    }
    &:disabled {
        outline: 0;
        box-shadow: none;
        background: grey!important;
        border-color: grey!important;
        cursor: not-allowed;
    }
}
